*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.redes{
    height: 25vh;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(23, 23, 23);
    font-weight: bolder;
}
.redes ul{
    width: fit-content;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
}
.redes ul li{
    list-style-type:none;
    margin: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
svg{
    color: white;
}
ul li a{
    text-decoration: none;
    color: white;
}
ul li a:hover{
    color: orange;
}

@media (max-width: 600px) { 
    .redes{
        padding-top: 2.3em;
    }
  }
  /* 
  @media (min-width: 600px) { 
    .App-header{
        background-color: green;
    }
  }
  
  @media (min-width: 768px) { 
   .App-header {
        background-color: yellow;
    }
  }
  
  @media (min-width: 992px) { 
    .App-header{
        background-color: blueviolet;
    }
     }
    @media (min-width: 1200px) { 
      .App-header{
          background-color: rgb(196, 160, 230);
          
      }
  }
   */