*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecera{
display: flex;
justify-content: space-around;
text-align: center;

    background-color: transparent;
}
.botonenlace{
    margin: 0.5em;
}
     
.navbar ul{
    background-color: green;
    min-width: fit-content;
    min-height: fit-content;
    padding: 0.3em;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}