* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenido {
  width: 100%;
  height: 80vh;
  background-image: url('../../assets/images/fondo.jpg');
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  padding: 1em;
}



.contenido .perfil img {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  animation: bounce;
  animation-duration: 3s;

}

.contenidotexto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  animation: bounce;
  animation-duration: 2s;
}

.contenido img {
  width: 100%;
  height: 100vh;
  object-fit: cover;

}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;

}

@media (max-width: 600px) { 
.contenido {
  width: 100%;
  height: 80vh;
  background-image: url('../../assets/images/fondo.jpg');
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  padding: 1em;
}
  }
  /* 
  @media (min-width: 600px) { 
    .App-header{
        background-color: green;
    }
  }
  
  @media (min-width: 768px) { 
   .App-header {
        background-color: yellow;
    }
  }
  
  @media (min-width: 992px) { 
    .App-header{
        background-color: blueviolet;
    }
     }
    @media (min-width: 1200px) { 
      .App-header{
          background-color: rgb(196, 160, 230);
          
      }
  }
   */