* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenido {
  max-width: 100%;
  min-height: fit-content;
  background-image: url('../../assets/images/fondo.jpg');
  display:flex;
flex-direction: row;
justify-content: space-around;
  align-items: center;
}
.contenido h1{
  text-align: center;
}
.contenidoInfo {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  flex-direction: column;
  width: fit-content;
}

.contenido .perfil img {
 height: 70vh;
  width: 100%;
  text-align: center;
  object-fit: contain;
  animation: fadeInLeft;
  animation-duration: 2s;
  border-radius: 2em;
  margin-bottom: 3em;
}

.accordion {
  text-align: center;
  width: fit-content;
}

.accordion-item {
  background-color: #0000;
  display: flex;
  justify-content: center;
  border: 0em;
  margin-top: 2em;
}

.accordion-button {
  text-align: center;
  transition: 2s;
}

.contenidotexto {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: fit-content;
  width: fit-content;
  color: black;
  animation: fadeInRight;
  animation-duration: 3s;
  margin-bottom: 2em;
}

#example-collapse-text {
  background-color: #2a2828;
  color: white;
  padding: 1em;
  font-weight: bold;
  border-radius: 1em;
  padding: 2em;

}

.contenido Button {
  width: fit-content;
  height: fit-content;
  background-color: orange;
  color: black;
  font-weight: bolder;

}

.accordion button :hover {
  background-color: orange;
  color: black;
  border: 0.1em solid white;
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .contenido {
    width: fit-content;
    height: fit-content;
    padding-top: 5.5em;
  }
  .accordion {
    text-align: center;
  }

  .contenido .perfil img {
    height: fit-content;
    border-radius: 1em;
    align-items: center;
    }

  #example-collapse-text {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1em;
    font-weight: lighter;
    border-radius: 1em;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
  }
.contenido .perfil img{
  width: 50%;
}
}

/* 
  @media (min-width: 600px) { 
    .contenido {
      width: fit-content;
      height: fit-content;
      justify-content: center;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: antiquewhite;
    }
  } */
/* 
  @media (min-width: 768px) { 
   .App-header {
        background-color: yellow;
    }
  }
  
  @media (min-width: 992px) { 
    .App-header{
        background-color: blueviolet;
    }
     }
    @media (min-width: 1200px) { 
      .App-header{
          background-color: rgb(196, 160, 230);
          
      }
  }
   */